<!DOCTYPE html>
<html lang="en">

  <%- include('../views/partials/head.ejs') %>

<body>
  <%- include('../views/partials/header.ejs') %>

    <main id="maketheoutfit">
      <section>
        <button></button>
        <img src="pen.png" alt="pen">
        <a href="/maketheoutfit/chosenclothing"></a>
        <img src="hartje.svg" href="/maketheoutfit/chosenclothing" alt="a heart">
      </section>
      <ul>
        <li class="submenuknop"><a>Merken</a></li>
        <ol>
          <form method="post">
            <input type="checkbox" name="merken" value="straplessdress">H&M
            <label>H&M</label>

          <div>
            <input type="checkbox" name="merken" value="leatherskirt">
            <label>ZARA</label>
          </div>

          <div>
            <input type="checkbox" name="merken" value="jeans">
            <label>Bershka</label>
          </div>
        </ol>

      
        <li class="submenuknop2"><a>Prijs</a></li>

        <li id="submenuknop3"><a>Categories</a></li>
        <ol id=menulijst3>
            <input type="checkbox" name="categories" value="straplessdress">
            <label>Dress</label>

          <div>
            <input type="checkbox" name="categories" value="leatherskirt">
            <label>Skirt</label>
          </div>

          <div>
            <input type="checkbox" name="categories" value="jeans">
            <label>Jeans</label>
          </div>

  
          <button type="submit" name="merken" class="submitknop">Done & Search</button>
        

        </ol>
      </ul>
      </form>
    