<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head.ejs') %>
<body>
    <%- include('../views/partials/header.ejs') %> 

    <main id="menu">
       <a href="maketheoutfit">click</a>
    </main>
</body>
</html>