<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head.ejs') %>
<body>
    <%- include('../views/partials/header.ejs') %> 

    <main id="menu">
    <h1>hi</h1>
       <a href="/maketheoutfit">Make the outfit</a>
       <a href=""></a>
       <a href=""></a>
       <a href=""></a>
       <a href=""></a>
       <a href=""></a>


    </main>
</body>
</html>