<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>MatchingClothing</title>
</head>

<body>
    <%- include('../views/partials/header.ejs') %>

        <main id="outfithelprequest">
            <h2>Outfit Help Request</h2>
            <form action="/outfithelprequest" method="post">
                <div>
                  <label for="occassion">Occassion I am going to </label>
                  <input type="text" name="occassion" id="occassion" required>
                </div>
                <div >
                  <label for="location">Location of the occassion </label>
                  <input type="text" name="location" id="location" required>
                </div>
                <div>
                  <label for="duedate">Due date for receiving MatchingClothing advices </label>
                  <input type="text" name="duedate" id="duedate">
                </div>
                <div>
                  <input type="submit" value="Send Outfit Request">
                </div>
              </form>

        </main>
</body>

</html>