<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head.ejs') %>
<body>
    <%- include('../views/partials/header.ejs') %> 

    <main id="sendOutfitrequest">

        <h1><%= title %></h1>  
        <p>yay</p>


    </main>
</body>
</html>