/*Algemeen*/
h1 {
    font-family: Poppins;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

body {
    background-color: #EB9984;
    margin: 0;
    overflow-x: hidden;
    font-family: Poppins;
}

main {
    background-color: white;
    display: block;
    padding-bottom: 5em;

}

/*index page*/
#index h1 {
    font-family: Poppins;
    font-size: 1em;
    color: black;
    margin: 2em;
}

#index main {
    margin: 1em;
}

.firstbutton {
    background-color: #00C7A9;
    border-radius: 4em;
    text-align: center;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin: 2em;
}

/*Menu page*/

#menu {
    background-color: white;
}

#menu > a {
    height: 100px;
    width: 100px;
    background-color: #00C7A9;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 3px 10px -1px #5B5B5B;
    margin: 1em;
    margin-left: 2em;

}

/*Outfit Help Request page*/
#outfithelprequest h2 {
    text-align: center;
}

#outfithelprequest form {
    padding-left: 3em;
    padding-right: 2.5em;
}

/*make the outfit page (closet)*/
 /*witte ronde button menuknop*/
#maketheoutfit > section > button {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 3px 10px -1px #5B5B5B;
    margin: 1em;
  }

#maketheoutfit > section > a {
    height: 35.3px;
    width: 35.3px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 10px -1px #5B5B5B;
    right: 0.9em;
    top: 0.8em;
    position: absolute;
    border: 0.15em solid black;
  }

  #maketheoutfit > nav > a {
    background-color: pink;
    height: 2em;
    display: block;
    width: 7em;
    text-align: center;
    margin: 6.4em;
    border-radius: 5%;
    margin-bottom: 0;
  }

/*pen img bovenaan */
#maketheoutfit > section > img {
    width: 4em;
    height: 3em;
    position: absolute;
    left: 0.2em;
    top: 0.6em;

}

/*Hartje bovenaan */
#maketheoutfit > section > img:nth-of-type(2) {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 7.1em;
  display: flex;
  top: 1.4em;
  grid-column: 2/2;
}
 


#maketheoutfit > article {
    display: block;
    margin: 1em;
    background-color: #edede1;
    border-radius: 1em;
    box-shadow: 0px 3px 10px -1px lightgrey;
  }
  

#maketheoutfit > article > img:nth-of-type(1) {
    display: block;
    width:  16em;
    height: 23em;
    margin: 1em;
    margin-left: auto 0;
    margin-right: auto 0; 
    border: 1em;
  }


  #maketheoutfit > article > img:nth-of-type(3) {
    display: block;
    width:  16em;
    height: 23em;
    margin: 1em;
    margin-left: auto 0;
    margin-right: auto 0; 
  }

  .hartje {
    width:  2em;
    height: 2em;
    float: right;
    margin: 1em;
    color: red;
  }

  #maketheoutfit > article > h2 {
      text-align: center;
      padding-top: 1em;
  }

  #maketheoutfit > article > h4 {
      font-size: 1em;
      padding: 0.5em;
      line-height: 1;
      grid-column: 1;
      grid-row: 1;
      display: block;
      margin: 1em;
  }

  #maketheoutfit > article > h5:nth-of-type(1) {
    font-size: 1em;
    padding: 0.5em;
    height: 0 auto;
    line-height: 1;
    grid-column: 2/2;
    grid-row: 2;
    display: block;
    margin: 1em;
}

#maketheoutfit > article > h5:nth-of-type(2) {
    font-size: 1em;
    padding: 0.5em;
    height: 0 auto;
    line-height: 1;
    grid-column: 2/2;
    grid-row: 2;
    display: block;
    margin: 1em;
}

#maketheoutfit > article > h6:nth-of-type(2) {
    font-size: 1em;
    padding: 0.5em;
    line-height: 1em;
    grid-column: 2;
    grid-row: 2;
    display: block;
    margin: 1em;
}

  #maketheoutfit > article > a {
    font-size: 1em;
    padding: 1em;
    line-height: 1;
    height: 0 auto;
    grid-column: 1;
    grid-row: 1;
    display: block;
    margin: 1em;
}

  .dot2 {
    height: 38px;
    width: 80px;
    position: relative;
    background-color: #00C7A9;
    border-radius: 4em;
    display: block;
    box-shadow: 0px 2px 7px 0px #5B5B5B;
    margin-top: 1em;
    margin-left: 0.5em;
  }



 #maketheoutfit > section {
      position: relative;
      display: grid;
      grid-template-columns: 50% 50% auto;
      
  }
 

ul {
    list-style-type: none;
    padding-left: 0;
}

ol {
    list-style-type: none;
    padding-left: 2em;
} 

ul li:hover {
    color: #00C7A9;
}

ul {
    max-height: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 500ms ease;
    transform: translateX(-6vw);
    background: white;
    color: black;
}

ol {
    max-height: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 500ms ease;
    transform: translateX(-6vw);
    background: white;
    color: black;
}


li {
    flex-grow: 1;
    text-align: left;
    min-width: 1em;
    padding-left: 1em;
}



a {
    line-height: 2em;
    flex-direction: row;
}


.toonMenu {
    max-height: 90em;
    opacity: 1;
    transform: translateX(0);
}

.toonMenu2 {
    max-height: 90em;
    opacity: 1;
    transform: translateX(0);
}

.toonMenu3 {
    max-height: 90em;
    opacity: 1;
    transform: translateX(0);
}

.submitknop {
    background-color: #00C7A9;
    border-radius: 4em;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 30%;
}

/*sendOutfitrequest page*/

#sendOutfitrequest h1 {
    color: black;
}
